# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
path = '../WeatherPy/output_data/cities.csv'
df = pd.read_csv(path)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)
figure_layout = {
    'width': '800px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '0px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [10]:
coordinate = df[['Lat','Lon']]
max_intensity = np.max(df['Humidity'])
heat_layer = gmaps.heatmap_layer(coordinate,  weights = df['Humidity'], dissipating=False, max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='0px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
perfect_weather = df[(df['Wind Speed']  < 15) & (df['Max Temperature']<90) & (df['Max Temperature'] > 40 )]
perf = perfect_weather.dropna()

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df = pd.DataFrame({})
hotel_df['Country'] = perf['Country']
hotel_df['City Name'] = perf['City Name']
hotel_df['Lat'] = perf['Lat']
hotel_df['Lon'] = perf['Lon']
hotel_df['Hotel Name'] = ""
hotel_df

    Country              City Name      Lat       Lon Hotel Name
0        MX  San Juan de los Lagos  21.2500 -102.3000
1        IN                   Tura  25.5198   90.2201
2        ZA             Bredasdorp -34.5322   20.0403
3        NZ                  Bluff -46.6000  168.3333
4        KI             Butaritari   3.0707  172.7902
..      ...                    ...      ...       ...        ...
510      UA               Zhurivka  50.5028   31.7849
512      MX               Tomatlán  19.9333 -105.2500
513      MW                 Rumphi -11.0186   33.8575
515      CN               Xunchang  28.4543  104.7150
516      MG               Ambilobe -13.2000   49.0500

[366 rows x 5 columns]

In [33]:
params = {'type' : 'hotel',
        'keyword' : 'hotel',
        'radius' : 50,
        'key' : g_key}

url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index , row in hotel_df.iterrows():
    lat = row['Lat']
    lon = row['Lon']
    city_name = row['City Name']
    params['locations'] = f'{lat},{lon}'
    response = requests.get(url, params=params).json()

ValueError: Length of values (1) does not match length of index (366)

In [30]:
hotel_df

    Country              City Name      Lat       Lon Hotel Name
0        MX  San Juan de los Lagos  21.2500 -102.3000
1        IN                   Tura  25.5198   90.2201
2        ZA             Bredasdorp -34.5322   20.0403
3        NZ                  Bluff -46.6000  168.3333
4        KI             Butaritari   3.0707  172.7902
..      ...                    ...      ...       ...        ...
510      UA               Zhurivka  50.5028   31.7849
512      MX               Tomatlán  19.9333 -105.2500
513      MW                 Rumphi -11.0186   33.8575
515      CN               Xunchang  28.4543  104.7150
516      MG               Ambilobe -13.2000   49.0500

[366 rows x 5 columns]

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'City'

In [ ]:
# Add marker layer ontop of heat map


# Display figure